<ion-view view-title="About AIR" >

<ion-content>
    
	<ul class="list">
		<li class="label settings_label" style='margin-bottom:1.5em;text-align:center;margin-top:1em;'>
			<img src="img/logo.png"></br>
			Version 1.0.0
		</li>
		<li class="item" ng-click='openLink("http://www.airgh.com/help")'>
		  Help & Contact
		</li>
		<li class="item" ng-click='openLink("http://www.airgh.com/terms")'>
		  Terms of Service
		</li>
		<li class="item" ng-click='openLink("http://www.airgh.com/about")'>
		  About
		</li>
	</ul>
	
</ion-content>

</ion-view>
