<ion-view view-title="Associated Farms">

<ion-content style='padding-left:0.5em;padding-right:0.5em;'>
	<div style='margin-top:1em;'>
        <ion-spinner ng-if='loading' class='main-loading' icon="ripple"> Loading</ion-spinner>
    </div>
	 
	<div ng-if="!loading">
        <div class="row header" style='border:1px solid #eee;background-color:#eee;'>
          <div class="col">Farm Name</div>
          <div class="col">Location</div>
        </div>
        <div  ng-repeat="farmArray in farms">

		  <div class="row" ng-repeat="farm in farmArray" style="border:1px solid #eee;">
			<div class="col">{{farm.farm_name}}</div>
			<div class="col">{{farm.region}} / {{farm.town}}</div>
		  </div>
         
        </div>
	</div>
	
</ion-content>

</ion-view>
